<div>
  <h2 id="page-heading" data-cy="BeneficiaryHeading">
    <span jhiTranslate="moneyApp.beneficiary.home.title">Beneficiaries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="moneyApp.beneficiary.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-beneficiary"
        [routerLink]="['/beneficiary/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="moneyApp.beneficiary.home.createLabel"> Create a new Beneficiary </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="beneficiaries?.length === 0">
    <span jhiTranslate="moneyApp.beneficiary.home.notFound">No Beneficiaries found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="beneficiaries && beneficiaries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="beneficiaryIdent">
            <div class="d-flex">
              <span jhiTranslate="moneyApp.beneficiary.beneficiaryIdent">Beneficiary Ident</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="moneyApp.beneficiary.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currentBalance">
            <div class="d-flex">
              <span jhiTranslate="moneyApp.beneficiary.currentBalance">Current Balance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beneficiary of beneficiaries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/beneficiary', beneficiary.id, 'view']">{{ beneficiary.id }}</a>
          </td>
          <td>{{ beneficiary.beneficiaryIdent }}</td>
          <td>{{ beneficiary.name }}</td>
          <td>{{ beneficiary.currentBalance }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/beneficiary', beneficiary.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/beneficiary', beneficiary.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(beneficiary)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
